body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.letter {
	font-family: 'News Cycle', sans-serif;
    background-color: white;
    border-radius: 0.25em;
    color: black;
    font-size: 2em;
    margin-left: 0.25em;
    height: 3em;
    width: 3em;
    padding-top: 0.5em;
}

.row.main-spacer {
	height: 6em;
}

.row.selected-letters {
	height: 10em;
	border: 1px solid #e1f5fe;
}

.row.selected-letters .letters {
	text-align: left;
}

.row.board-letters {
	height: 10em;
}

.row.board-letters .letters {
	text-align: left;
}

.collection.with-header .collection-header {
	padding-top: 2px;
	padding-bottom: 2px;
}

.collection .collection-item {
	padding-top: 2px;
	padding-bottom: 2px;
}

.countdown-timer {
    margin-left: 2em;
}
